<section>

            <h5 class="mb-3">Categories</h5>

            <div class="text-muted small text-uppercase mb-5">

              <p class="mb-3"><a href="#!" class="card-link-secondary">Vegetables</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Fruits</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Herbs</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Bread</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Pasta</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Buts</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Legumes</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Spices</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Coffee</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Active</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Tea</a></p>
              <p class="mb-3"><a href="#!" class="card-link-secondary">Dry fruits</a></p>

            </div>

          </section>