     <section class="py-2 my-4">

        <div class="card">
          <div class="card-body">

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6">
              <div class="col flex-grow-1 text-center text-xl-left my-4 my-xl-0">

                <h4>Deals and offers</h4>
                <p>Hygiene equipments</p>

                <div class="d-flex justify-content-center justify-content-xl-start text-center">
                  <div class="mr-2">
                    <h4 class="mb-0" ><span class="badge badge-dark p-2" id="daysxx">00</span></h4>
                    <small>Days</small>
                  </div>
                  <div class="mr-2">
                    <h4 class="mb-0"><span class="badge badge-dark p-2" id ="hoursx">00</span></h4>
                    <small>Hours</small>
                  </div>
                  <div class="mr-2">
                    <h4 class="mb-0"><span class="badge badge-dark p-2" id ="min">00</span></h4>
                    <small>Min</small>
                  </div>
                  <div class="mr-2">
                    <h4 class="mb-0"><span class="badge badge-dark p-2" id ="sec">00</span></h4>
                    <small>Sec</small>
                  </div>
                </div>

              </div>
              <div class="col mb-4 mb-xl-0">

                <div class="view zoom overlay">
                  <img class="img-fluid w-100"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" alt="Sample">
                  <a href="#!">
                    <div class="mask">
                    </div>
                  </a>
                </div>

                <div class="text-center pt-4">

                  <p class="mb-3 text-muted text-uppercase small">Summer clothes</p>
                  <h6 class="mb-2"><span class="text-danger mr-1"><strong>$21.99</strong></span><span
                    class="text-grey mr-1"><strong><s>$36.99</s></strong></span><span class="badge badge-info badge-pill">-20%</span></h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1"><i class="fas fa-shopping-cart pr-2"></i></button>
                <button type="button" class="btn btn-light btn-sm"><i class="fas fa-info-circle pr-2"></i>Details</button>
                </div>

              </div>
              <div class="col mb-4 mb-xl-0">

                <div class="view zoom overlay">
                  <img class="img-fluid w-100"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" alt="Sample">
                  <a href="#!">
                    <div class="mask">
                    </div>
                  </a>
                </div>

                <div class="text-center pt-4">

                  <p class="mb-3 text-muted text-uppercase small">Summer clothes</p>
                  <h6 class="mb-2"><span class="text-danger mr-1"><strong>$21.99</strong></span><span
                    class="text-grey mr-1"><strong><s>$36.99</s></strong></span><span class="badge badge-info badge-pill">-20%</span></h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1"><i class="fas fa-shopping-cart pr-2"></i></button>
                <button type="button" class="btn btn-light btn-sm"><i class="fas fa-info-circle pr-2"></i>Details</button>
                </div>

              </div>
              <div class="col mb-4 mb-xl-0">

                <div class="view zoom overlay">
                  <img class="img-fluid w-100"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/9.jpg" alt="Sample">
                  <a href="#!">
                    <div class="mask">
                    </div>
                  </a>
                </div>

                <div class="text-center pt-4">

                  <p class="mb-3 text-muted text-uppercase small">Summer clothes</p>
                  <h6 class="mb-2"><span class="text-danger mr-1"><strong>$21.99</strong></span><span
                    class="text-grey mr-1"><strong><s>$36.99</s></strong></span><span class="badge badge-info badge-pill">-20%</span></h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1"><i class="fas fa-shopping-cart pr-2"></i></button>
                <button type="button" class="btn btn-light btn-sm"><i class="fas fa-info-circle pr-2"></i>Details</button>

                </div>

              </div>
              <div class="col mb-4 mb-xl-0">

                <div class="view zoom overlay">
                  <img class="img-fluid w-100"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg" alt="Sample">
                  <a href="#!">
                    <div class="mask">
                    </div>
                  </a>
                </div>

                <div class="text-center pt-4">

                  <p class="mb-2 text-muted text-uppercase small">Summer clothes</p>
                  <h6 class="mb-3"><span class="text-danger mr-1"><strong>$21.99</strong></span><span
                    class="text-grey mr-1"><strong><s>$36.99</s></strong></span><span class="badge badge-info badge-pill">-20%</span></h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1"><i class="fas fa-shopping-cart pr-2"></i></button>
                <button type="button" class="btn btn-light btn-sm"><i class="fas fa-info-circle pr-2"></i>Details</button>

                </div>

              </div>
              <div class="col mb-4 mb-xl-0">

                <div class="view zoom overlay">
                  <img class="img-fluid w-100"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/6.jpg" alt="Sample">
                  <a href="#!">
                    <div class="mask">
                    </div>
                  </a>
                </div>

                <div class="text-center pt-4">

                  <p class="mb-2 text-muted text-uppercase small">Summer clothes</p>
                  <h6 class="mb-3"><span class="text-danger mr-1"><strong>$21.99</strong></span><span
                    class="text-grey mr-1"><strong><s>$36.99</s></strong></span><span class="badge badge-info badge-pill">-20%</span></h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1"><i class="fas fa-shopping-cart pr-2"></i></button>
                <button type="button" class="btn btn-light btn-sm"><i class="fas fa-info-circle pr-2"></i>Details</button>

                </div>

              </div>
            </div>

          </div>
        </div>

      </section>