<section>

            <h5 class="mb-4">Filters</h5>

            <section class="mb-4">

              <div class="md-form md-outline mt-0 d-flex justify-content-between align-items-center">
                <input type="text" id="search12" class="form-control mb-0" placeholder="Search...">
                <a href="#!" class="btn btn-flat btn-md px-3 waves-effect"><i class="fas fa-search fa-lg"></i></a>
              </div>

            </section>

            <!-- Section: Average -->
            <section class="mb-4">

              <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>

              <a href="#!">
                <ul class="rating">
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                  </li>
                </ul>
              </a>
              <a href="#!">
                <ul class="rating">
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                  </li>
                </ul>
              </a>
              <a href="#!">
                <ul class="rating">
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                  </li>
                </ul>
              </a>
              <a href="#!">
                <ul class="rating">
                  <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-primary"></i>
                  </li>
                  <li>
                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                  </li>
                </ul>
              </a>

            </section>
            <!-- Section: Average -->

            <!-- Section: Price -->
            <section class="mb-4">

              <h6 class="font-weight-bold mb-3">Price</h6>

              <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="under25" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="under25">Under $5</label>
              </div>
              <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="2550" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="2550">$5 to $10</label>
              </div>
              <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="50100" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="50100">$10 to $15</label>
              </div>
              <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="100200" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="100200">$15 to $20</label>
              </div>
              <div class="form-check pl-0 mb-3">
                <input type="radio" class="form-check-input" id="200above" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary" for="200above">$20 & Above</label>
              </div>
              <form>
                <div class="d-flex align-items-center mt-4 pb-1">
                  <div class="md-form md-outline my-0">
                    <input id="from" type="text" class="form-control mb-0">
                    <label for="form">$ Min</label>
                  </div>
                  <p class="px-2 mb-0 text-muted"> - </p>
                  <div class="md-form md-outline my-0">
                    <input id="to" type="text" class="form-control mb-0">
                    <label for="to">$ Max</label>
                  </div>
                </div>
              </form>

            </section>
            <!-- Section: Price -->

          </section>