<div class="col-lg-3 d-none d-lg-block">

                <h6 class="indigo text-white text-center py-2 mb-4">Popular category</h6>

                <div class="media">
                  <div class="media-body">
                    <p class="text-grey-dark mb-2"><strong>Men clothing</strong></p>
                    <a href="#!" type="button" class="btn btn-indigo p-2">Source now</a>
                  </div>
                  <img class="d-flex ml-3"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/10.jpg"
                    alt="Generic placeholder image" width="100">
                </div>

                <hr>

                <div class="media">
                  <div class="media-body">
                    <p class="text-grey-dark mb-2"><strong>Men clothing</strong></p>
                    <a href="#!" type="button" class="btn btn-indigo p-2">Source now</a>
                  </div>
                  <img class="d-flex ml-3" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg"
                    alt="Generic placeholder image" width="100">
                </div>

                <hr>

                <div class="media">
                  <div class="media-body">
                    <p class="text-grey-dark mb-2"><strong>Men clothing</strong></p>
                    <a href="#!" type="button" class="btn btn-indigo p-2">Source now</a>
                  </div>
                  <img class="d-flex ml-3"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg"
                    alt="Generic placeholder image" width="100">
                </div>

              </div>